<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CLUSTER</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form th:action="@{/login}" th:object="${form}" method="post">
            <div>
                <label for="nom">Nom :</label>
                <input type="text" th:field="*{nom}" id="nom" placeholder="Entrez votre nom"/>
            </div>
            <div>
                <label for="mdp">mdp :</label>
                <input type="password" th:field="*{mdp}" id="mdp" placeholder="Entrez votre mdp"/>
            </div>
            <div>
                <button type="submit">Se Connecter</button>
            </div>
        </form>

    </body>
</html>
